@media screen and (max-width: 1400px){
    #profile{
       height: 83vh;
       margin-bottom: 6rem;
    }
    .about-containers {
        flex: wrap;
    }
}
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
#experience,
.experience-detais-container{

    margin-top: 2rem;
}

#profile, .section-container {

    display: block;
}

section, 
.section-container {
    height: fit-content;
}
section {
    margin: 0 5%;
}
.section__pic-container{

width: 275px;
height: 275px;
margin-top: 0 auto 2rem;
justify-content: center;
}

.about-containers{
    margin-top: 0;
}
}

@media screen and (max-width: 600px){
 #footer {
 height: 50vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .btn-container
{flex-wrap: wrap;}
 
}
@media screen and (max-width: 600px) {
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
}


